Repository Bruno86889/mini-projetos-react: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, vitest --run

style: font and color variables
  src/style/base/reset.scss
  src/style/variables/_colors.scss
  src/style/variables/_font.scss
Due: prettier --write

style: button component and mixins
  src/style/base/reset.scss
  src/style/components/button.scss
  src/style/global.scss
  src/style/utilities/mixins.scss
Due: prettier --write

hook: useTitle
  src/hooks/use-title/index.js
  src/hooks/use-title/index.test.jsx
  src/test.test.js
Due: eslint --fix, prettier --write, vitest --run

utility: extractRouteData
  src/util/extract-route-data/index.js
  src/util/extract-route-data/index.test.js
Due: eslint --fix, prettier --write, vitest --run

style: breakpoints
  src/style/utilities/mixins.scss
  src/style/variables/_breakpoints.scss
Due: prettier --write

component: projectCard
  src/components/project-card/index.jsx
  src/components/project-card/style.scss
Due: eslint --fix, prettier --write

feature: navigation implemented
  src/app.jsx
  src/config/constants.js
  src/config/projects.jsx
  src/config/router.jsx
  src/pages/home/index.jsx
  src/pages/home/style.scss
  src/pages/project-view/index.jsx
  src/pages/project-view/style.scss
  src/projects/exemplo/index.jsx
  src/projects/exemplo/style.scss
Due: eslint --fix, prettier --write

deps: added postcss autoprefixer and cssnano
  package.json
  pnpm-lock.yaml
  vite.config.js
Due: eslint --fix, prettier --write

project: random color generator
  src/config/projects.jsx
  src/projects/exemplo/index.jsx
  src/projects/exemplo/style.scss
  src/projects/random-color/index.jsx
  src/projects/random-color/index.test.jsx
  src/projects/random-color/style.scss
  src/projects/random-color/util.js
  src/projects/random-color/util.test.js
Due: eslint --fix, prettier --write, vitest --run

README updated
  README.md
Due: none

Update README.md
  README.md
Due: none

project: calculator
  src/config/projects.jsx
  src/projects/calculadora/index.jsx
  src/projects/calculadora/logic/actions.js
  src/projects/calculadora/logic/constants.js
  src/projects/calculadora/logic/index.js
  src/projects/calculadora/logic/logic.js
  src/projects/calculadora/logic/reducer.js
  src/projects/calculadora/logic/reducer.test.js
  src/projects/calculadora/style.scss
Due: eslint --fix, prettier --write, vitest --run

util: color convertion utilities
  src/util/colors/hex-to-rgb.js
  src/util/colors/hsl-to-rgb.js
  src/util/colors/hsv-to-rgb.js
  src/util/colors/index.js
  src/util/colors/index.test.js
  src/util/colors/rgb-to-hex.js
  src/util/colors/rgb-to-hsl.js
  src/util/colors/rgb-to-hsv.js
Due: eslint --fix, prettier --write, vitest --run

hook: useBounds
  src/projects/color-picker/hooks/use-bounds/index.js
  src/projects/color-picker/hooks/use-bounds/index.test.jsx
Due: eslint --fix, prettier --write, vitest --run

hook: useHold
  src/projects/color-picker/hooks/use-hold/index.js
  src/projects/color-picker/hooks/use-hold/index.test.jsx
Due: eslint --fix, prettier --write, vitest --run

hook: useSliderValue
  src/projects/color-picker/hooks/use-slider-value/index.js
  src/projects/color-picker/hooks/use-slider-value/index.test.js
Due: eslint --fix, prettier --write, vitest --run

hook: useSliderPosition
  src/projects/color-picker/hooks/use-slider-position/index.js
  src/projects/color-picker/hooks/use-slider-position/index.test.jsx
Due: eslint --fix, prettier --write, vitest --run

util: added percentage utility
  src/projects/color-picker/util.js
  src/projects/color-picker/util.test.js
Due: eslint --fix, prettier --write, vitest --run

project: color-picker
  src/config/projects.jsx
  src/projects/color-picker/constants.js
  src/projects/color-picker/index.jsx
  src/projects/color-picker/style.scss
  src/projects/color-picker/ui/color-board.jsx
  src/projects/color-picker/ui/color-controls.jsx
  src/projects/color-picker/ui/color-entry.jsx
  src/projects/color-picker/ui/color-info.jsx
  src/projects/color-picker/ui/color-slider-bullet.jsx
  src/projects/color-picker/ui/color-slider.jsx
Due: eslint --fix, prettier --write

util: random hsv color and contrast check
  src/projects/random-color/util.js
  src/projects/random-color/util.test.js
Due: eslint --fix, prettier --write, vitest --run

hook: useKeyboard
  src/projects/random-color/hooks/use-keyboard/index.js
  src/projects/random-color/hooks/use-keyboard/index.test.jsx
Due: eslint --fix, prettier --write, vitest --run

util: hex color convertion now accepts '#'
  src/util/colors/hex-to-rgb.js
  src/util/colors/index.test.js
  src/util/colors/rgb-to-hex.js
Due: eslint --fix, prettier --write, vitest --run

project: random color updated
  src/projects/random-color/index.jsx
  src/projects/random-color/style.scss
  src/projects/random-color/ui/color-sample-group/color-sample/index.jsx
  src/projects/random-color/ui/color-sample-group/color-sample/style.scss
  src/projects/random-color/ui/color-sample-group/index.jsx
  src/projects/random-color/ui/color-sample-group/style.scss
  src/projects/random-color/ui/toolbar/index.jsx
  src/projects/random-color/ui/toolbar/style.scss
Due: eslint --fix, prettier --write

style: updated global style
  src/style/base/reset.scss
  src/style/components/button.scss
  src/style/global.scss
Due: prettier --write

ui: updated project view and home page style
  src/components/project-card/style.scss
  src/pages/home/index.jsx
  src/pages/home/style.scss
  src/pages/project-view/style.scss
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx}
  prettier --write: ((any of: *.{js,jsx}) or (any of: *.scss)) or (any of: *.json)
  vitest --run: any of: *.test.{js,jsx}
